@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap');

:root {
  --primary-color: #d7c49eff;
}

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}